* {
    padding: 0;
    margin: 0;
    list-style: none;
}

:root {
    --DarkCyan: hsl(185, 75%, 39%);
    --VeryDarkDesaturedBlue: hsl(229, 23%, 23%);
    --DarkGrayBlue: hsl(227, 10%, 46%);

    --kumbh: 'Kumbh Sans', sans-serif;
}

body {
    background-color: var(--DarkCyan);
    font-family: var(--kumbh);
}

/*
.img-top {
    bottom: 30vh;
    position: fixed;
    right: 120vh;
}

.img-bottom {
    position: fixed;
    bottom: -110vh;
    left: 100vh;
}
*/
.card {
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    width: 59vh;
    height: 59vh;
    flex-direction: column;
    background-color: #fff;
    border-radius: 2vh;
    margin: 18vh auto;
    box-sizing: border-box;
}

.img-card {
    width: 100%;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    position: relative;
    bottom: 11vh;
}

.img-victor {
    position: relative;
    bottom: 19vh;
    border-color: #fff;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    width: 27%;
}

.profile {
    display: flex;
    position: absolute;
    top: 31vh;
    flex-direction: column;
    font-size: 1.8vh;
    align-items: center;
    width: 35vh;
    height: 10vh;
    color: var(--VeryDarkDesaturedBlue);
}

.spn {
    font-weight: lighter;
    color: var(--DarkGrayBlue);
    padding-left: 1vh;
}

.city {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 2vh;
    margin: 0 auto;
    color: var(--DarkGrayBlue)
}

hr {
    position: inherit;
    bottom: 2.3vh;
    font-style: solid var(--DarkGrayBlue);
    width: 99%;
}

/*Inicio config grid layout*/

.grid {
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 8vh;
    position: relative;
    top: 2vh;
    
}

#item-1 {
    font-size: 18px;
    font-weight: 700;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    color: var(--VeryDarkDesaturedBlue);
}

#item-2 {
    font-size: 12px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
    color: var(--DarkGrayBlue);
}

#item-3 {
    font-size: 18px;
    font-weight: 700;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    color: var(--VeryDarkDesaturedBlue);
}

#item-4 {
    font-size: 12px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    color: var(--DarkGrayBlue);
}

#item-5 {
    font-size: 18px;
    font-weight: 700;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: var(--VeryDarkDesaturedBlue);
}

#item-6 {
    font-size: 12px;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color: var(--DarkGrayBlue);
}

@media (min-width: 375px){
    .img-top {
        bottom: 30vh;
        position: fixed;
        right: 30vh;
    }
    
    .img-bottom {
        position: fixed;
        bottom: -110vh;
        left: 25vh;
    } 
}

@media (min-width: 768px){
    .img-top {
        bottom: 30vh;
        position: fixed;
        right: 60vh;
    }
    
    .img-bottom {
        position: fixed;
        bottom: -110vh;
        left: 70vh;
    } 
}

@media (min-width: 1024px) {
    .img-top {
        bottom: 30vh;
        position: fixed;
        right: 120vh;
    }
    
    .img-bottom {
        position: fixed;
        bottom: -107vh;
        left: 100vh;
    }
}

.attribution {
    text-align: left;
    font-size: 2vh;
    color: #fff;
    font-weight: 400;
    padding-left: 2vh;
}

a {
    color:hsl(229, 23%, 23%);
}

a:hover {
    cursor: pointer;
}